.card {
    width: 70vw;
    height: 85vw;
    border: 2px solid var(--opacity);
    background-color: var(--opacity);
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

img {
    width: 70vw;
    height: 70vw;
    object-fit: cover;
    grid-column: 1 / -1;
}

.like-btn, .delete-btn {
    font-size: 10vw;
    width: 100%;
    text-align: center;
}

.like-btn:hover, .delete-btn:hover, #refresh {
    cursor: pointer;
}

#refresh:hover {
    color: green;
}

.delete-btn:hover {
    color: red;
}

@media screen and (min-width: 700px){
    .card {
        width: 30vw;
        height: 35vw;
    }
    
    img {
        width: 30vw;
        height: 30vw;
    }

    .like-btn, .delete-btn {
        font-size: 3vw;
    }
}